body {
  font-family: "Roboto", sans-serif;
}
option {
  display: flex;

  width: 100%;
}
datalist {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
  color: #2fa22f;
  width: 120%;
}
/* blue  #053E6A */
/* green #2fa22f */
/* background #ffffff */

input {
  color: black;
}

input[type="range"],
input::-webkit-slider-runnable-track {
  color: #2fa22f;
}
::-webkit-scrollbar-thumb,
::-webkit-slider-thumb,
::-ms-thumb {
  color: #2fa22f;
}
