body {
  font-family: "Roboto", sans-serif;
}
/* blue  #053E6A */
/* green #2fa22f */
/* background #ffffff */

input {
  color: black;
  width: 95px;
}
.displayExpectedRate,
p {
  font-size: x-small;
}
.piggy {
  height: 70px;
  width: 70px;
}
.border {
  border: 1px solid rgba(54, 162, 235, 0.3) !important;
}
.card {
  border: 1px solid rgba(54, 162, 235, 0.3) !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: rgba(54, 162, 235, 0.3) !important;
}
button {
  border-radius: 3%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
