/* blue  #053E6A */
/* green #2fa22f */
/* background #ffffff */
/* track #BFBFBF */
/* creating some global vars for each type of web browser  */
:root {
  /* track to left of handle and handle  */
  --green: #2fa22f;
  /* track before color */
  --black: black;
  --blue: #34385a;
  --slider-handle-size: 14px;
  /* round handle  */
  --slider-handle-border-radius: 50%;
  /*  postion inside of range */
  --slider-handle-margin-top: -5.7px;
  /* track height  */
  --slider-track-height: 4px;
  /* track round ends a bit  */
  --slider-track-border-radius: 4px;
}
option {
  display: flex;
  width: 100%;
}
datalist {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
  color: black;
  width: 110%;
}
input[type="range"] {
  width: 100%;
  margin: 5.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: #bfbfbf;
  background: none;
  border-radius: var(--slider-track-border-radius);
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: var(--slider-handle-margin-top);
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  background: var(--green);
  border-radius: var(--slider-handle-border-radius);
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  opacity: 1;
  transform: scale(1.2);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: none;
}
input[type="range"]:active::-webkit-slider-runnable-track {
  background: none;
}
input[type="range"]::-moz-range-track {
  background: var(--green);
  border: 0.2px solid #010101;

  border-radius: var(--slider-track-border-radius);
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  background: var(--green);
  border: none;
  border-radius: var(--slider-handle-border-radius);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6.5px 0;
  color: transparent;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #b2b2b2;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: #bfbfbf;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #2fa22f;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #bfbfbf;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #cccccc;
}
@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track*/
  }
}
.tick-slider {
  position: relative;
  width: 100%;
}
.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: var(--slider-track-height);
  pointer-events: none;
  border-radius: var(--slider-track-border-radius);
  z-index: -1;
}
.tick-slider-background {
  width: 100%;
  background-color: var(--black);
}
.tick-slider-progress {
  background-color: var(--green);
}

.tick-slider-tick-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--slider-handle-size) / 2);
}

.tick-slider-tick {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
}
